{
  "singleQuote": false,
  "printWidth": 80,
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "proseWrap": "always",
  "semi": true,
  "tabWidth": 2,
  "plugins": ["@pandabox/prettier-plugin"]
}
